*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bg1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    position: absolute;
    height: 500px;
    width: 800px;
    background: rgba(255,255,255,.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.2);
    border-radius: 50px;
    border: 2px solid rgba(255,255,255,0.5);
    border-right: 2px solid rgba(255,255,255,0.2);
    border-bottom: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
}

/* .container:hover{
    backdrop-filter: blur(0px);
} */